In [3]:
import pandas as pd

In [24]:
list_of_dict = []

with open(r'..\VillageCraftsSocialSalesDataV1.txt') as file:
    for row in file:
        lst = row[:-1].split(',')
        dct = {}
        for pair in lst:
            key, value = pair.split(':')
            key = key.lstrip().rstrip()
            value = value.lstrip().rstrip()
            dct[key] = value 
        list_of_dict.append(dct)


list_of_dict[0]

{'Product': 'Custom Silver Necklace',
 'Date': '2023-03-14',
 'Sale Price': '$71.22',
 'Platform': 'Facebook',
 'Likes': '85',
 'Shares': '33',
 'Comments': '28',
 'Inquiries': '6',
 'Sales': '3'}

In [25]:
df = pd.DataFrame(list_of_dict)

display(df)

,Product,Date,Sale Price,Platform,Likes,Shares,Comments,Inquiries,Sales
0,Custom Silver Necklace,2023-03-14,$71.22,Facebook,85,33,28,6,3
1,Custom Silver Necklace,2023-04-17,$60.3,Twitter,142,35,44,7,1
2,Organic Cotton Scarf,2023-05-02,$91.19,Twitter,283,63,13,14,2
3,Natural Stone Coaster Set,2023-03-20,$28.5,Instagram,415,21,27,11,4
4,Vintage Style Linen Dress,2023-04-12,$97.15,Twitter,159,34,12,10,2
...,...,...,...,...,...,...,...,...,...
1995,Natural Stone Coaster Set,2023-03-11,$46.03,Facebook,396,70,48,4,2
1996,Custom Silver Necklace,2023-04-17,$86.0,Instagram,470,25,22,8,3
1997,Personalized Leather Wallet,2023-03-03,$38.51,Facebook,393,56,6,13,6
1998,Handcrafted Wooden Bowl,2023-05-27,$61.09,Instagram,257,100,41,0,0
1999,Organic Cotton Scarf,2023-05-20,$73.96,Instagram,348,12,32,19,7

In [29]:
# clean dataframe 

df['Sale Price'] = df['Sale Price'].apply(lambda x: x[1:])

In [34]:
display(df)

,Product,Date,Sale Price,Platform,Likes,Shares,Comments,Inquiries,Sales
0,Custom Silver Necklace,2023-03-14,71.22,Facebook,85,33,28,6,3
1,Custom Silver Necklace,2023-04-17,60.3,Twitter,142,35,44,7,1
2,Organic Cotton Scarf,2023-05-02,91.19,Twitter,283,63,13,14,2
3,Natural Stone Coaster Set,2023-03-20,28.5,Instagram,415,21,27,11,4
4,Vintage Style Linen Dress,2023-04-12,97.15,Twitter,159,34,12,10,2
...,...,...,...,...,...,...,...,...,...
1995,Natural Stone Coaster Set,2023-03-11,46.03,Facebook,396,70,48,4,2
1996,Custom Silver Necklace,2023-04-17,86.0,Instagram,470,25,22,8,3
1997,Personalized Leather Wallet,2023-03-03,38.51,Facebook,393,56,6,13,6
1998,Handcrafted Wooden Bowl,2023-05-27,61.09,Instagram,257,100,41,0,0
1999,Organic Cotton Scarf,2023-05-20,73.96,Instagram,348,12,32,19,7

In [36]:
df.to_csv(r'..\cleanedVillageCraftsSocialSalesData.csv', index=False)

In [38]:
df.to_excel(r'..\cleanedVillageCraftsSocialSalesData.xlsx', index=False)

In [23]:
ex = 'Product: Custom Silver Necklace, Date: 2023-03-14, Sale Price: $71.22, Platform: Facebook, Likes: 85, Shares: 33, Comments: 28, Inquiries: 6,Sales: 3'

dct = {}

lst = ex.split(',')
for pair in lst:
    key, value = pair.split(':')
    dct[key] = value 

print(dct)

{'Product': ' Custom Silver Necklace', ' Date': ' 2023-03-14', ' Sale Price': ' $71.22', ' Platform': ' Facebook', ' Likes': ' 85', ' Shares': ' 33', ' Comments': ' 28', ' Inquiries': ' 6', 'Sales': ' 3'}